#ap{
    background-color: #02894a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}


#container{
    background-color: rgb(240, 248, 255, 0.9);
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 80%;
    border-radius: 40px;
    height: 22px;
    opacity: 5px;
    box-shadow: 2px 2px 2px black;
    opacity: 0.5;
    height: 25px;
}
button{
    margin-top: 30px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
}
button:hover{
    background-color: #067c51;
    color: aliceblue;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 300px;
    font-weight: bolder;
}
#ap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formulario{
    width: 100%;
}
#linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#select{
    width: 80%;
    border-radius: 40px;
    height: 25px;
    box-shadow: 2px 2px 2px black;
    opacity: 0.5;
}