#bode{
    background-image:url("../../Imagens/Imagem\ do\ WhatsApp\ de\ 2025-05-17\ à\(s\)\ 21.57.00_f8a229c2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#logo{
    width: 80%;
}
h1{
    color: aliceblue;
    text-shadow: 2px 2px 3px green;
    font-size: 50px;
    border-color: aliceblue;
    font-family: Marker Felt;
    
}
#container{
    background-color: rgb(240, 248, 255, 0.9);
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
    padding-bottom: 70px;
    box-shadow: 10px 5px 50px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
input{
    width: 85%;
    border-radius: 40px;
    height: 22px;
    opacity: 5px;
    box-shadow: 2px 2px 2px black;
    opacity: 0.5;
    height: 25px;
}
button{
    margin-top: 30px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
}
button:hover{
    background-color: #067c51;
    color: aliceblue;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 300px;
    font-weight: bolder;
}
#ap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}